<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACA6pSF1-VrVn2-nlRYrXyFAXJU9F9e8I</string>
	<key>GCM_SENDER_ID</key>
	<string>76094475191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Han.TravelAppProject</string>
	<key>PROJECT_ID</key>
	<string>personaltripproject</string>
	<key>STORAGE_BUCKET</key>
	<string>personaltripproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76094475191:ios:75f64e2b051d0cdcd17632</string>
</dict>
</plist>